@using SunShine.Model;
@using SunShine.Utils;
@model List<ArticleViewModel>
@{
    Layout = null;
}
@{
    if (Model != null && Model.Count > 0) {
        for (int i = 0; i < Model.Count; i++) {
            <div class="case_list_item">
                <div class="itemimg">
                    @if (!string.IsNullOrEmpty(Model[i].img)) {
                        <a href="@Url.Action("Index","Case",new { idarticle=Model[i].idarticle})"><img src="@Url.Content(Model[i].img)" /></a>
                    }
                </div>
                <div class="itemdesc">
                    <div class="itemtitle"><a href="@Url.Action("Index","Case",new { idarticle=Model[i].idarticle})">@Model[i].title</a></div>
                    <div class="itemdetail">@(string.IsNullOrEmpty(Model[i].content) ? "" : Model[i].content.RemoveHTMLAndGetByNum(100))</div>
            </div>
            <div style="clear:both;"></div>
        </div>
        }

    }
    else {
        <div class="no_data_div">暂无数据！</div>
    }
}
