@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="stylesheet" href="@Url.Content("~/Css/Bootstrap/bootstrap.min.css?v=20161114")" />
    <link href="~/Css/Bootstrap/style.css" rel="stylesheet" />
    <link href="~/Css/Bootstrap/home.css" rel="stylesheet" />
    <link href="@Url.Content("~/Css/public.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jQuery/jquery-1.10.2.min.js?v=20161114")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bootstrap/bootstrap.min.js?v=20161114")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bootstrap/ScrollPic.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bootstrap/home.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () { $(".gundongxiaoguo").imgscroll({ speed: 40, amount: 0, width: 2, dir: "left" }); });
        $(document).ready(function () { $(".case_honor_bottom").imgscroll({ speed: 40, amount: 0, width: 2, dir: "up" }); });
        $(document).ready(function () { $(".wenti_box").imgscroll({ speed: 40, amount: 0, width: 2, dir: "up" }); });

        function getQueryByName(name) {
            var result = location.search.match(
            new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
            if (result == null || result.length < 1) {
                return "";
            }
            return result[1];
        }
       
        //function ChangBackgroundColor(obj) {

        //    alert("aaa");
        //}

    </script>


</head>
<body>


        <div class="header">
            <div class="top">
                <div class="welcome">您好，欢迎来到创意阳光广告有限公司官方网站</div>
                <span>&nbsp;&nbsp;<a href="commong.html"><img src=" ~/Images/home/sinaLogo_1.jpg" width="23" /> &nbsp;官方微博</a>&nbsp; &nbsp;|&nbsp;&nbsp;<a href="map.html"><image src="~/Images/home/weixinLogo_1.jpg" width="23px" /> &nbsp;微信</a>&nbsp; &nbsp;|&nbsp;&nbsp; <a href="javascript:AddFavorite('创意阳光',location.href)">收藏本站</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="@Url.Action("Index", "Case", new { categoryCode = "sunshinebrand", currentCategoryCode = "commonquestion" })">常见问题</a>&nbsp; &nbsp;|&nbsp;&nbsp;<a href="@Url.Action("Index", "Case", new { categoryCode = "contactsunshine", currentCategoryCode = "contactus" })">联系我们</a>&nbsp; &nbsp;</span>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="width:1400px;height:1px;margin:0px auto"><hr /></div>


        <div class="center">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">  <img src="~/Images/home/fgz_05.jpg" width="690" height="116" />    </a>
            </div>
            <div class="telephonenumber">

            </div>
            <div style="clear:both"></div>
        </div>

     


        <div class="tablist1" id="pro_list1">
            <div class="tablist">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">创意阳光首页</a></li>
                    <li><a href="@Url.Action("List", "Product", new { categoryCode = "topfloor" })">楼顶发光字</a></li>
                    <li><a href="@Url.Action("List", "Product", new { categoryCode = "door" })">门头发光字</a></li>
                    <li><a href="@Url.Action("List", "Product", new { categoryCode = "bgwall" })">背景墙发光字</a></li>
                    <li><a href="@Url.Action("List", "Product")">产品中心</a></li>
                    <li><a href="@Url.Action("Index", "Case", new { categoryCode = "successcase" })">成功案例</a></li>
                    <li><a href="@Url.Action("Index", "Case", new { categoryCode = "sunshinebrand" })">品牌创意阳光</a></li>
                    <li><a href="@Url.Action("Index", "Case", new { categoryCode = "contactsunshine" })">关于创意阳光</a></li>
                </ul>
            </div>
        </div>
      <div style="clear:both"></div>
        @{
            Html.RenderAction("HomeAdvertise", "Parts");
        }

        <div class="search">
            @{
                Html.RenderAction("HotSearch", "Parts");
            }
            
            <div class="ss">
                <form id="form1" action="@Url.Action("List","Product")">
                    <input name="keyword" type="text" id="txtSearch" class="input" value="@Request["keyword"]" />
                    <span>
                        <input type="image" name="btnSeach" id="btnSeach" src="~/Images/home/fgz_11.gif" style="border-width:0px;width:34px; height:33px; padding:0" />
                    </span>
                </form>
            </div>
        </div>
        @RenderBody()
        @{ Html.RenderAction("BottomProductCategory", "Parts");}

        
        <div class="honor_box">
            <div class="honor_top">
                <img src="~/Images/home/honor.jpg" />
            </div>
            @{
                Html.RenderAction("FriendURL", "Parts");
            }
        </div>
        <div class="site_bottom_bg">
            <div class="site_bottom">
                <div class="site_bottom_left">
                    <img src="~/Images/home/bottom_logo.jpg" style="width:277px" />
                </div>
                @{
                    Html.RenderAction("BottomWebsiteInfo", "Parts");
                }
            </div>

        </div>
</body>
</html>
