@{
    ViewBag.Title = "创意阳光-成功案例";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Css/case.css")" rel="stylesheet" />
<div class="case_box">
    <div class="case_left">
        <div class="success_case_top">
            <div class="success_case_title">成功案例</div>
            <div class="success_case_subtitle">CASES</div>
        </div>
        <div class="success_case_bottom">
            <div class="case_category_title">近期工程案例</div>
            <div class="case_category_title">近期工程案例</div>
            <div class="case_category_title">近期工程案例</div>
        </div>
        <div class="case_honor_top"><div class="case_honor_title">荣誉资质</div></div>
        <div class="case_honor_bottom">
            <div class="honoritem">
                <div class="honor_img">
                    <img src="@Url.Content("~/Resource/Images/Article/honorcase1.jpg")" />
                </div>
                <div class="honor_img_title">
                    荣誉证书
                </div>
            </div>
        </div>
    </div>
    <div class="case_right">
        <div class="case_nav">
            <div class="case_nav_icon"></div>
            <div class="case_nav_title">您现在的位置:首页&nbsp;>&nbsp;成功案例&nbsp;>&nbsp;近期工程案例</div>
        </div>
        <div style="clear:both;"></div>
        <div class="case_list">
            <div class="case_list_item">
                <div class="itemimg">
                    <img src="@Url.Content("~/Resource/images/Article/case1.jpg")" />
                </div>
                <div class="itemdesc">
                    <div class="itemtitle">为碧桂园-欢迎城设计、制作安装商业系统</div>
                    <div class="itemdetail">fdfdsafdasfds</div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="case_list_item">
                <div class="itemimg">
                    <img src="@Url.Content("~/Resource/images/Article/case1.jpg")" />
                </div>
                <div class="itemdesc">
                    <div class="itemtitle">为碧桂园-欢迎城设计、制作安装商业系统</div>
                    <div class="itemdetail">fdfdsafdasfds</div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="case_list_item">
                <div class="itemimg">
                    <img src="@Url.Content("~/Resource/images/Article/case1.jpg")" />
                </div>
                <div class="itemdesc">
                    <div class="itemtitle">为碧桂园-欢迎城设计、制作安装商业系统</div>
                    <div class="itemdetail">fdfdsafdasfds</div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
