@using SunShine.Model;
@{
    ViewBag.Title = "创意阳光首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductViewModel> hotProducts = (List<ProductViewModel>)ViewData["hotProducts"];
    List<ProductViewModel> newProducts = (List<ProductViewModel>)ViewData["newProducts"];
}
<div class="daohangbeijing">
    <div class="wrap">
        <div class="cp_left">
           @{ 
               Html.RenderAction("LeftProductCategory", "Parts");
           }

        </div>
        <div class="cp_right">
            <div class="title">
                <ul id="tabs">
                    <li class="title_PopularProduct" style="background:#da251c"><a href="" class="tab">热销产品</a></li>
                    <li class="title_NewestProduct" style="background:#5f6870"><a href="" class="tab">最新产品</a></li>
                </ul>
            </div>
            <div class="tab_box">
                <ul id="tab_conbox">
                    <li class="PopularProduct">
                        <div class="more1"><a href="@Url.Action("List", "Product")"><span style="font-size:17px;font-weight:500;font-family:'Microsoft YaHei'">More +</span>&nbsp;&nbsp;<img src="~/images/home/more1.jpg"></a></div>
                        @{ 
                            Html.RenderPartial("_ProductItemPartial", hotProducts);
                        }
                    </li>
                    <li class="NewestProduct" style="display:none;">
                        <div class="more1"><a href="product.html"><span style="font-size:17px;font-weight:500;font-family:'Microsoft YaHei'">More +</span>&nbsp;&nbsp;<img src="~/images/home/more1.jpg"></a></div>
                        @{
                            Html.RenderPartial("_ProductItemPartial", newProducts);
                        }
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<br /> 
<div style="width:1444px;margin:0px auto;">
    @{ 
        Html.RenderAction("CaseListItemsScroll", "Parts");
    }
    <br />
    <div class="picture_center"><img src="~/Images/home/xuchuan_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxinweti_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxin_2.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/hexinyoushi_1.jpg" /></div>
</div>

<div class="kanshi_waiceng">
    <div class="decription_text">
        <div class="decription_kanshi"><p>11年发光字经验,2389家企事业单位的信赖</p></div>
    </div>

    <div class="kanshi_neiceng">
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_1.jpg" />
        </div>
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg"/>12名优秀设计师,针对不同需求,量身定制不同解决方案</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" />厂区3300平方,50多名车间工人,拥有国内先进工艺</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" />下设切割车间,焊接车间,烤漆车间,雕刻车间,UV打印车间</li>
            </ul>
            <a href="@Url.Action("Index","Case",new {categoryCode="contactsunshine",currentCategoryCode="designteam" })"><img src="~/Images/home/chakangengduo_1.JPG"></a>           
        </div>
        <div class="shilizhashi_text"><p>质量过硬,是我们的核心优势</p></div>

    </div>

    <div class="kanzhiliang">
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>均匀：</span>采用进口亚克力，不发黄，透光均匀，让广告字发光均匀无暗区</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>高亮：</span>采用进口大芯片，高亮度光源,发光面亮度可达500-1500cd</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>节能: </span>采用LED光源，每颗点耗电仅0.1W，相当于传统霓虹灯十分之一</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>安全：</span>直流12伏(pc12v),低电压工作,对人身安全不造成伤害</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>长寿: </span>LED灯长达10-20万小时超长寿命，发热低，使用寿命长</li>
            </ul>
            <a href="@Url.Action("Index","Case",new {categoryCode="contactsunshine",currentCategoryCode="designteam" })"><img src="~/Images/home/chakangengduo_1.JPG"></a>
        </div>
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_2.jpg" />
        </div>
        <div class="kanzhiliang_text"><p>设计、制作、安装一条龙服务</p></div>
    </div>

    <div class="kanxingjiabi">
        
            <div class="images_tupian">
                <img src="~/Images/home/kanshili_3.jpg" />
            </div>
            <div class="miaoshu">
                <ul>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />免费上门测量尺寸,免费设计效果图,免费策划解决方案</li>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />工厂价格直接对客户,省去中间商,降低客户成本</li>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />五年之内出现质量问题,包修,包换,终身免费售后</li>
                </ul>
                <a href="@Url.Action("Index","Case",new {categoryCode="contactsunshine",currentCategoryCode="designteam" })"><img src="~/Images/home/chakangengduo_1.JPG"></a>
            </div>
        <div class="kanxingjiabi_text"><p>按时保质保量完成供货,全程放心无忧</p> </div>
  </div>

    <div class="kanshouhou">
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>均匀：</span>采用进口亚克力，不发黄，透光均匀，让广告字发光均匀无暗区</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>高亮：</span>采用进口大芯片，高亮度光源,发光面亮度可达500-1500cd</li>
            </ul>
            <a href="@Url.Action("Index","Case",new {categoryCode="contactsunshine",currentCategoryCode="designteam" })"><img src="~/Images/home/chakangengduo_1.JPG"></a>
            <div class="telephone_yellow">
                <img src="~/Images/home/telephone_yellow.jpg" />
            </div>
        </div>
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_4.jpg" />
        </div>
    </div>

</div>

@{ 
    Html.RenderPartial("_HistoryBannerPartial", null);
    Html.RenderPartial("_CustomerSupportTitlePartial", null);
    Html.RenderAction("Partner", "Parts");
    Html.RenderPartial("_CustomizeFlowPartial", null);
    Html.RenderAction("InstroductionCompany", "Parts");
}


    <div class="news">
        <div class="news_center">
                @{ 
                    Html.RenderAction("NavNews","Parts");
                }
                 <div class="yiny"><img src="~/Images/home/fgz_59.jpg"></div> 
                @{
                    Html.RenderAction("NavQuestions", "Parts");
                }
                <div style="clear:both;"></div>
</div>
    </div>



  
   